<form>
	<script>
	function printPage()
	{
		document.getElementById("header").style.display = 'none'
		document.getElementById("printButton").style.display = 'none'
		document.getElementById("tagsButton").style.display = 'none'
		document.getElementById("editButton").style.display = 'none'
		window.print()
		document.getElementById("header").style.display = ''
		document.getElementById("printButton").style.display = ''
		document.getElementById("tagsButton").style.display = ''
		document.getElementById("editButton").style.display = ''
	}
	</script>
	<input type = "button" value = "Print" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black bg-washed-red sans-serif" id="printButton" onclick = "printPage()" />
</form>

